/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-abr-2017, 17:08:44
    Author     : angel
*/

body{
    background-image:url('./imagenes/bg-wood.jpg');
    width: 100%;
    
}
div{
    text-align: center;
    float: left;
}